backcall==0.2.0
certifi==2020.11.8
chardet==4.0.0
click==8.0.1
dataclasses==0.6
decorator==4.4.2
filelock==3.0.12
future==0.18.2
huggingface-hub==0.0.8
idna==2.10
ipython==7.19.0
ipython-genutils==0.2.0
jedi==0.17.2
joblib==1.0.1
numpy==1.19.4
packaging==20.9
parso==0.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.0.1
prompt-toolkit==3.0.8
ptyprocess==0.6.0
Pygments==2.7.2
pyparsing==2.4.7
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
six==1.16.0
tokenizers==0.10.3
torch==1.8.1+cpu
torchaudio==0.8.1
torchvision==0.9.1+cpu
tqdm==4.61.0
traitlets==5.0.5
transformers==4.6.1
typing-extensions==3.7.4.3
urllib3==1.26.5
wcwidth==0.2.5
